<center> <%= image_tag("homeimages/contact.jpg") %> </center>
<body style="background-color:oldlace;">

<i>

<h2>Phone Number- +91 1234567890</h2>
<h2>Instagram- #fundraising</h2>
<h2>Email- fundraising@staticso.com</h2>
</i>
<%= link_to "Back", :back %>
